{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>About Us - Film Studio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="https://themeshub.io/preview/filmudio/img/apple-touch-icon.png">
		<link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
        <!-- Place favicon.ico in the root directory -->
		
		
		<!-- all css here -->
        <link rel="stylesheet" href=" {% static "css/bootstrap.min.css" %} ">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/icofont.css" %}">
        <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
        <link rel="stylesheet" href="{% static "css/meanmenu.min.css" %}">
		<link rel="stylesheet" href="{% static "css/plugins.css" %}">
        <link rel="stylesheet" href="{% static "css/shortcode/shortcodes.css" %}">
        <link rel="stylesheet" href="{% static "style.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Page Wraper Here Start -->
        <div class="page-wraper" id="main-home">
			<!-- Header Area Start -->
			<header>
				<!-- Header Menu Area Start -->
				<div class="header-menu mt-50 home" id="sticky-header">
					<div class="container-fluid">
						<div class="row">
							<!-- Logo Area Start -->
							<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 d-flex justify-content-start">
								<div class="home logo-img mt-20">
									<a href="index"><img src="{% static "img/icon/logo.png" %}" alt=""></a>
								</div>
							</div>
							<!-- Logo Area End -->
							<!-- Menu Area Start -->
							<div class="col-xl-8 col-lg-8 col-md-8 d-flex justify-content-end">
								<div class="main-menu">
									<nav>
										<ul>
											<li class="active"><a href="index">МЕРОПРИЯТИЯ</a>
												<ul>
													<li><a href="index">билеты в Мск</a></li>
													<li><a href="index-video-bg">билеты в Спб</a></li>
													<li><a href="index-black">билеты в Екб</a></li>
												</ul>
											</li>
											<li><a href="about-us">О нас</a></li>
											
											<li><a href="gallery"> Галерея событий</a></li>
											
											
											<li>
												<div class="header-search">				
													<div class="search-wrapper">
														<a href="javascript:void(0);" class="search-open">
															<img src="{% static "img/icon/search.png" %}" alt="" />
														</a>
														<div class="search-inside animated bounceInUp"> <i class="icon-close search-close fa fa-times"></i>
															<div class="search-overlay"></div>
															<div class="position-center-center">
																<div class="search">
																	<form>
																		<input type="search" placeholder="Search Here">
																		<button type="submit"><i class="fa fa-search"></i></button>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- Header Menu Area Start -->
						</div>
					</div>
					<!-- MOBILE-MENU-AREA START --> 
					<div class="mobile-menu-area">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="mobile-area">
										<div class="mobile-menu">
											<nav id="mobile-nav">
												<ul>
													<li class="active"><a href="index">МЕРОПРИЯТИЯ</a>
														<ul>
															<li><a href="index">билеты в Мск</a></li>
															<li><a href="index-video-bg">билеты в Екб</a></li>
															<li><a href="index-black">билеты в Спб</a></li>
														</ul>
													</li>
													<li><a href="about-us">О НАС</a></li>
													<li><a href="gallery"> ГАЛЕРЕЯ СОБЫТИЙ </a></li>
												</ul>
											</nav>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU-AREA END  -->
				</div>
				<!-- Header Menu Area Start -->
				<!-- Slider Area Start -->
				<div class="banner-video-area">
					<div class="video-banner">
						<!-- Slider Single -->
						<div class="slider-item youtube-bg bg-image-16 fullscreen d-flex justify-content-start align-items-center" data-black-overlay="7" data-property="{videoURL:'rwz6Ru9rbyY'}">
							<div class="container-fluid">
								<div class="row">
									<div class="slide-content text-left col-lg-12 col-md-12">
										<h4 class="theme-color"> Ticket-buy </h4>
										<h2> <span class="theme-color font-w-medium">Мы ждали этого:</span></h2>
										<h1><span class="theme-color font-w-bold">Imagine Dragons </span>в Москве</h1>
										<div class="slide-btn">
											<a href="index-video-bg#" class="read-more">Купить билеты</a>
										</div>
									</div>
								</div>
								<div class="slider-social-area">
									<ul>
										<li><a href="index-video-bg#">FACEBOOK</a></li>
										<li><a href="index-video-bg#">TWITTER</a></li>
										<li><a href="index-video-bg#">GOOGLE+</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Slider Single -->
					</div>
				</div>
				<!-- Slider Area End -->
			</header>
			<!-- Header Area End -->
			<!-- Page Content Start -->
			<div class="page-content">
				<!-- About Us Area Start -->
				<section class="aboutus-area ptb-130">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="aboutus-video bg-image-1 bg-overlay-1">
									<div class="video-content">
										<a href="https://www.youtube.com/watch?v=TLnmb07WQ-s" class="popup-youtube">
											<img src="img/icon/about-icon.png" alt="" />
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="about-content mt-20 ml-30">
									<h2>Что мы делаем?</h2>
									<h3>Помогаем найти интересные мероприятия</h3>
									<p>Вы можете выбрать интересующее вас событие в одном из трех городов. Также мы отправляем интересные мероприятия через пуш-уведомления или присылаем по почте.
									</p>
									<h3>Продаем билеты</h3>
									<p>На странице мероприятия выберите нужную вам категорию билетов, удобное место в зале, способ оплаты и получения заказа.</p>
									<h3>Отдаем билеты в руки</h3>
									<p>Мы пришлем билеты на электронную почту. Еще вы можете забрать билет на красивом бланке в кассе.
									</p>
									<h3>Помогаем купить последние билеты на редкие мероприятия</h3>
									<p>Мы откладываем несколько десятков билетов для клиентов, что вспомнили про мероприятие за день до его начала.</p>
								</div>
								<div class="signature-title mt-45 ml-30">
									<img src="{% static "img/icon/singnature.png" %}" alt="" />
									<h6>CEO Of Consulen</h6>
								</div>
							</div>							
						</div>
					</div>
				</section>
				<!-- About Us Area End -->
				
				<!-- Project Area End -->
				<!-- Testimonial Area Start -->
				<section class="testimonial-area ptb-150 indicator-style">
					<div class="container">
						<div class="row">
							<!-- Section Titel -->
							<div class="col-md-12">
								<div class="section-titel text-left">
									<h2>Отзывы наших клиентов</h2>
								</div>
							</div>
							<!-- Section Titel -->
						</div>
						<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="testimonial-wrap testimonial-slider-active testimonial-style cr-slider-dots-1">

									<!-- Single Testimonial -->
									<div class="testimonial">
										<div class="testimonial-image">
											<img src="{% static "img/testimonial/thumb-1.jpg" %}" alt="testimonial author">
										</div>
										<div class="testimonial-content">
											<div class="testimonial-content-inner text-center">
												<p>There are many variations of passages Lorem Ipsum, but the majority variations of passages of Lorem Ipsum, but the majority majority </p>
												<div class="testimonial-content-author">
													<h6>Dilen Montisali</h6>
													<p>Studio Manager</p>
												</div>
											</div>
										</div>
									</div>
									<!-- //Signle Testimonial -->

									<!-- Single Testimonial -->
									<div class="testimonial">
										<div class="testimonial-image">
											<img src="{% static "img/testimonial/thumb-2.jpg" %}" alt="testimonial author">
										</div>
										<div class="testimonial-content">
											<div class="testimonial-content-inner text-center">
												<p>There are many variations of passages Lorem Ipsum, but the majority variations of passages of Lorem Ipsum, but the majority majority </p>
												<div class="testimonial-content-author">
													<h6>Leo Mentasiryu</h6>
													<p>Stage Manager</p>
												</div>
											</div>
										</div>
									</div>
									<!-- //Signle Testimonial -->

									<!-- Single Testimonial -->
									<div class="testimonial">
										<div class="testimonial-image">
											<img src="{% static "img/testimonial/thumb-3.jpg" %}" alt="testimonial author">
										</div>
										<div class="testimonial-content">
											<div class="testimonial-content-inner text-center">
												<p>There are many variations of passages Lorem Ipsum, but the majority variations of passages of Lorem Ipsum, but the majority majority </p>
												<div class="testimonial-content-author">
													<h6>Bintez Zet Al</h6>
													<p>Film Maker</p>
												</div>
											</div>
										</div>
									</div>
									<!-- //Signle Testimonial -->

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Testimonial Area End -->
				<!-- All Service Area End -->
				<!-- Project Area Start -->
				<section class="project-area ptb-80 theme-bg">
					<div class="container">
						<div class="row">
							<!-- Project Single -->
							<div class="col-md-3 col-sm-4">
								<div class="project-single text-center">
									<div class="project-count">
										<span class="counter">650</span>
										<h3>Awards</h3>
									</div>
								</div>
							</div>
							<!-- Project Single -->
							<!-- Project Single -->
							<div class="col-md-3 col-sm-4">
								<div class="project-single text-center">
									<div class="project-count">
										<span class="counter">900</span>
										<h3>Years</h3>
									</div>
								</div>
							</div>
							<!-- Project Single -->
							<!-- Project Single -->
							<div class="col-md-3 col-sm-4">
								<div class="project-single text-center">
									<div class="project-count">
										<span class="counter">745</span>
										<h3>Complete Work</h3>
									</div>
								</div>
							</div>
							<!-- Project Single -->
							<!-- Project Single -->
							<div class="col-md-3 hidden-sm">
								<div class="project-single text-center">
									<div class="project-count">
										<span class="counter">350</span>
										<h3>Happy Client</h3>
									</div>
								</div>
							</div>
							<!-- Project Single -->
						</div>
					</div>
				</section>
			</div>
			<!-- Page Content End -->
			<!-- Footer Area Start -->
			<footer class="bg-image-5">
				<!-- Footer Top Area Start -->
				<div class="footer-top pt-120 pb-80">
					<div class="container">
						<div class="row">
							<!-- Footer Single Item -->
							<div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
								<div class="footer-single">
									<h5>STAY WITH US</h5>
									<div class="stay-with-content">
										<p>It is a long established fact that a good reader on will be distracted by the by readable content of a page when looking at its layout. </p>
										<div class="subcribe">
											<form id="mc-form">
												<input autocomplete="off" placeholder="Your E-mail" type="text">
												<button value="Submit" type="submit" class="search-button">Subscribe</button>
												<!-- mailchimp-alerts Start -->
												<div class="mailchimp-alerts text-centre">
													<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
													<div class="mailchimp-success"></div><!-- mailchimp-success end -->
													<div class="mailchimp-error"></div><!-- mailchimp-error end -->
												</div>
												<!-- mailchimp-alerts end -->
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- Footer Single Item -->
							<!-- Footer Single Item -->
							<div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
								<div class="footer-single">
									<h5>SERVICES</h5>
									<div class="footer-menu">
										<ul>
											<li><a href="about-us.html#">Hire Studio</a></li>
											<li><a href="about-us.html#">Outdoor Spot</a></li>
											<li><a href="about-us.html#">Flexible Space</a></li>
											<li><a href="about-us.html#">Production House Rent</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Footer Single Item -->
							<!-- Footer Single Item -->
							<div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
								<div class="footer-single">
									<h5>IMPORTANT LINK</h5>
									<div class="footer-menu">
										<ul>
											<li><a href="about-us.html#">About Us</a></li>
											<li><a href="about-us.html#">Privacy Policy</a></li>
											<li><a href="about-us.html#">Terms & Condition</a></li>
											<li><a href="about-us.html#">Pricing Of Film city</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Footer Single Item -->
							<!-- Footer Single Item -->
							<div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
								<div class="footer-single">
									<h5>QUICK CONTACT</h5>
									<div class="contact-info">
										<ul>
											<li>
												<p>Address: House. 9, Road. 12, Widgets. Orled. Sydney. Milaro.</p>
											</li>
											<li>
												<p>Phone: +88012345678 +88012345678</p>
											</li>
											<li>
												<p>E-mail: info@example.com info@example.com</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Footer Single Item -->
						</div>
					</div>
				</div>
				<!-- Footer Top Area End -->
				<!-- Footer Bottom Area Start -->
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="footer-bottom">
								<div class="footer-left">
									<p>Copyright &copy; <a href="about-us.html#">Filmudio</a>. All Rights Reserved.</p>
								</div>
								<div class="footer-right-social f-right">
									<ul>
										<li><a href="about-us.html#">FACEBOOK</a></li>
										<li><a href="about-us.html#">TWITTER</a></li>
										<li><a href="about-us.html#">GOOGLE+</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer Bottom Area End -->
			</footer>
			<!-- Footer Area End -->
		</div>
       <!-- Page Wraper Here Start -->
       
		<!-- all js here -->
        <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
        <script src="{% static "js/ytplayer.min.js" %}"></script>
        <script src="{% static "js/jquery.stapel.js" %}"></script>
		<script>	
			$(function() {
				var $grid = $( '#tp-grid' ),
					$name = $( '#name' ),
					$close = $( '#close' ),
					$loader = $( '<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>' ).insertBefore( $grid ),
					stapel = $grid.stapel( {
						onLoad : function() {
							$loader.remove();
						},
						onBeforeOpen : function( pileName ) {
							$name( pileName );
						},
						onAfterOpen : function( pileName ) {
							$close.show();
						}
					} );

				$close.on( 'click', function() {
					$close.hide();
					$name.empty();
					stapel.closePile();
				} );
			} );
		</script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>
